@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}


:root{
  --primary: #030213;
  --secondary: #eceef2;
  --third: #eceef2;
  --secondText: #5a5a6e;
  --ordersName: #717182;
  --white: white;
  --input: #f3f3f5;
  --ordersBorder: #d6d3d1;
  --deepBlue: #6366F1;
  --blue: #3b82f6;
  --purple: #8b5cf6;
  --background: #f8f9ff;
}

html,
body,
#root {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
}
html{
  min-height: 100%;
}

.active {
  color: white;
  background-color: var(--deepBlue);
  border-radius: .6rem;
  pointer-events: none;
}
select,
::picker(select){
  appearance: base-select;
}
option::checkmark{
  display: none;
}
option:checked{
  background-color: var(--deepBlue);
  color: var(--white);
}
li{
  list-style: none;
  cursor: pointer;
}

