@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}


:root{
  --primary: #030213;
  --secondary: #eceef2;
  --third: oklch(0.95 0.0058 264.53);
}

html,
body,
#root {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
}
html{
  min-height: 100%;
}

.active {
  color: white;
  background-color: #3d3d3d;
  border-radius: .6rem;
  pointer-events: none;
}
select,
::picker(select){
  appearance: base-select;
}
option::checkmark{
  display: none;
}
option:checked{
  background-color: var(--primary);
  color: white;
}
li{
  list-style: none;
  cursor: pointer;
}

