@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));



*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}




:root{
  --primary: #030213;
  --secondary: #eceef2;
  --third: #eceef2;
  --secondText: #5a5a6e;
  --ordersName: #717182;
  --white: white;
  --input: #f0f1fa;
  --ordersBorder: #d6d3d1;
  --deepBlue: #6366F1;
  --blue: #3b82f6;
  --purple: #8b5cf6;
  --background: #f8f9ff;
  --darkButton: #3b82f6;
}

.dark{
  --primary: white;
  --secondary: #eceef2;
  --third: #eceef2;
  --secondText: #a1a1b5;
  --ordersName: #717182;
  --white: #1a1a2e;
  --input: #2a2a3e;
  --ordersBorder: #4d48487e;
  --deepBlue: #6366F1;
  --blue: #3b82f6;
  --purple: #8b5cf6;
  --background: #0f0f1a;
  --darkButton: #eceef2;

}

html,
body,
#root {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
}
html{
  min-height: 100%;
}

.active {
  color: white;
  background-color: var(--deepBlue);
  border-radius: 6px;
  pointer-events: none;
}
select,
::picker(select){
  appearance: base-select;
}
option::checkmark{
  display: none;
}

option:checked{
  background-color: var(--deepBlue);
  color: white;
}

li{
  list-style: none;
}
.animateAdd{
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  border-radius: 10px;
  animation: animate ease-in-out 1.5s forwards;
  border: 1px solid var(--secondary);
  will-change: transform, opacity;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

.darkButton{
  box-shadow:  0px 0px 5px 3px var(--darkButton);
}
